@import url("https://fonts.googleapis.com/css?family=Inter");
.rootContainer {
  background: #7a2ed6;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.emiContentContainer {
  background: #fff;
  border-radius: 12px 12px 0px 0px;
  height: 100%;
  padding: 20px;
  color: #5b5555;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 10px;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.headerContainer {
  height: 250px;
  min-height: 250px;
  padding: 20px;
  box-sizing: border-box;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-weight: 800;
  line-height: 26px;
}
