.App {
  text-align: center;
  height: 100%;
  width: 100%;
}
@import url("https://fonts.googleapis.com/css?family=Inter");
.rootContainer {
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  background: linear-gradient(168.09deg, #a067f4 0%, #7003e4 30.4%);
}
